.DS_Store
zarin_playground.playground/Contents.swift
zarin_playground.playground/contents.xcplayground
zarin_playground.playground/playground.xcworkspace/contents.xcworkspacedata
zarin_playground.playground/playground.xcworkspace/xcuserdata/Junely.xcuserdatad/UserInterfaceState.xcuserstate
zarin_playground.playground/xcuserdata/Junely.xcuserdatad/xcschemes/xcschememanagement.plist
